@page
@model SleekClothing.Pages.admin.products.IndexModel

@{
    ViewData["Title"] = "Products";
}
<br />
<h1>Управление товарами</h1>
<h3 class="text-muted fw-normal">Создавайте, изменяйте и удаляйте уже имеющиеся в каталоге товары.</h3>
<br />

<h3>Товары</h3>
<p>
    <a asp-page="Create" class="">Добавить новый товар</a>
</p>

@* Product table *@
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Изображение
            </th>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th>
                Категория
            </th>
            <th>
                Артикул
            </th>
            <th>
                Количество
            </th>
            <th>
                Цена
            </th>
            <th>
                Скидка
            </th>
            <th>
                Дата создания
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    <img src="@item.ImageLocation" alt="@item.Name" class="img-fluid" style="max-width: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <div class="d-flex flex-column p-3 rounded-3 gap-1">
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary">Детали</a>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-info">Изменить</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
