@page
@model SleekClothing.Pages.admin.storeproducts.IndexModel
@{
    ViewData["Title"] = "Товары в магазинах";
}
<br />
<h1>Управление товарами в магазинах</h1>
<h3 class="text-muted fw-normal">Добавляйте, изменяйте и удаляйте товары, находящиеся в магазинах.</h3>
<br />

<h3>Товары в магазинах</h3>
<p>
    <a asp-page="Create" class="btn btn-primary">Добавить новый товар</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Магазин</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var storeProduct in Model.StoreProducts)
        {
            <tr>
                <td>@storeProduct.Store.Name</td>
                <td>@storeProduct.Product.Name</td>
                <td>@storeProduct.Quantity</td>
                <td>
                    <div class="d-flex flex-column p-3 rounded-3 gap-1">
                        <a asp-page="Edit" asp-route-id="@storeProduct.Id" class="btn btn-info">Изменить</a>
                        <a asp-page="Delete" asp-route-id="@storeProduct.Id" class="btn btn-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
